body {
    background-color: white;
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, sans-serif;
}

h1 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    font-size: 18pt;
    text-align: left;
    text-decoration: underline;
}

h1#title {
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
}

a {
    color: #A4A400;
}

ul#summary {
    list-style-type: none;
    padding: 0px;
}

ul.ingredients {
    list-style-type: disc;
}

ul#directions {
    list-style-type: circle;
}

span.strong-point {
    font-weight: bold;
}

span.deprecated {
    text-decoration: line-through;
}
span.blockspan{
    display: block;
}

pre {
    font-family: monospace;
}

blockquote {
    background-color: #FFFFA8;
    font-style: italic;
}

