h1{
    color: chocolate;
}

p{
    color: darkred;
}
p::first-letter{
    font-size: 1.5em;
}

ul li{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-style: italic;   
}

ol li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;    
}

p#description{
    text-align: center;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

