/* AUTHOR: JOHN LAWAL, ID: 610098, ASSIGNMENT: HW2 - MOVIE REVIEW, FILE: PAGE STYLE */

body {
    margin: 0px;
    padding: 0px;
    background-image: url('images/background.png');
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
}

#banner {
    text-align: center;
    background-image: url('images/bannerbg.png');
    background-repeat: repeat-x;
}

#heading {
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    font-family: Tahoma, Verdana, sans-serif;
    text-shadow: 3px 3px #999999;
}