body {
    background-image: url("http://mumstudents.org/cs472/2019-07-RS/Labs/2/background.gif");
}

#overall-container {
    margin: 0 10%;
}

#main-container {
    border: 5px solid green;
    background-color: white;
}

#top-section {
    border: 5px solid red;
}

#top-section>h2 {
    border: 5px solid orange;
}

#middle-section,
#bottom-section {
    border: 5px solid blue;
    background-color: #E8FBFB;
    padding: 5px;
    margin-top: 10px;
}

.date-part {
    border: 5px solid purple;
}